* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(images/wallpaperos.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  background-color: #6a1bd2;
  color: white;
  display: block;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
  padding: 20px 70px;
  border: none;
  border-radius: 99px;
  font-size: 1.5rem;
  cursor: pointer;
}

h1 {
  font-size: 4rem;
  color: #009fb1;
  margin-bottom: 40px;
  margin-top: 80px;
  text-align: center;
  position: relative;
  z-index: 10;
  text-transform: uppercase;
  font-weight: 900;
  color: #6a1bd2;
  margin-bottom: 5rem;
}

h1:before {
  content: "Skuškové zadanie";
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  color: #b4c9d4;
  z-index: -1;
  width: 100%;
  letter-spacing: 0.2rem;
  white-space: nowrap;
}

@media (max-width: 700px) {
  h1 {
    font-size: 2rem;
    color: #6a1bd2;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 900;
  }
}

@media (max-width: 700px) {
  h1:before {
    font-size: 2rem;
    margin-top: -20px;
    content: "Skúškové zadanie";
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
    color: #b4c9d4;
    z-index: -1;
    width: 100%;
    letter-spacing: 0.2rem;
    white-space: nowrap;
  }
}

@media (max-width: 420px) {
  h1 {
    font-size: 1.5rem;
    color: #6a1bd2;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 900;
  }
}

@media (max-width: 420px) {
  h1:before {
    font-size: 1.5rem;
    margin-top: -20px;
    content: "Skúškové zadanie";
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
    color: #b4c9d4;
    z-index: -1;
    width: 100%;
    letter-spacing: 0.2rem;
    white-space: nowrap;
  }
}

@media (max-width: 330px) {
  h1 {
    font-size: 1rem;
    color: #6a1bd2;
    margin-bottom: 40px;
    text-align: center;
    position: relative;
    z-index: 10;
    text-transform: uppercase;
    font-weight: 900;
  }
}

@media (max-width: 330px) {
  h1:before {
    font-size: 1rem;
    margin-top: -20px;
    content: "Skúškové zadanie";
    position: absolute;
    left: 50%;
    top: 5px;
    transform: translate(-50%, -50%);
    color: #b4c9d4;
    z-index: -1;
    width: 100%;
    letter-spacing: 0.2rem;
    white-space: nowrap;
  }
}